h1{
    background-color: white;
    color: grey;
    font-size: 35px;
   
}


body{
    
    background-size: cover;
    height: 100vh;
    margin-right: 150vh;
    font-family: sans-serif;
    font-size: 25px;
    margin-left:550px ;
    margin-top: 100px;
    
}



button{
    border: none;
    font-weight: bold;
    font-size: 30px;
    
    
}
.ince-btn{
    background-color: red;
    border-radius: 20px;
    width: 300px;
}
.dece-btn{
    background-color: cornflowerblue;
    border-radius: 20px;
    width: 300px;
}
.save-btn{
    background-color: green;
    border-radius: 20px;
    width: 300px;
}
p{
   
    font-weight: bolder;
    font-size: 20px;
    width: 400px;
}
a{
   
    color: grey;
}
.created p{
    color: black;
    font-size: 25px;
}
li{
    width: 400px;
}
.pre-ent{
    color:brown;
}
